<!DOCTYPE html>
<html>
<head>
  <title>Layout Master</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <header class="header green">
    <nav class="nav-main">
    <ul class="nav-left">
      <li class="nav-item"><a href="#"> About </a> </li>
      <li class="nav-item"><a href="#"> Product </a></li>
      <li class="nav-item"><a href="#"> Our Teams </a></li>
      
    </ul>
    <ul class="nav-right">
      <li class="nav-item" ><a href="#">Contact</a></li>
    </ul>
  </nav>
  </header>
  <div class="container zone red">Cover</div>
  <div class="project blue">
    <div class=" item zone"><img src="img/data_storage_2_2.png" alt="data storage foto"></div>
    <div class=" item zone"><img src="img/desktop_analytics_2.png" alt="desktop_analytics_2"></div>
    <div class=" item zone"><img src="img/files_2.png" alt="files_2"></div>
    <div class=" item zone"><img src="img/monitor_coding_2.png" alt="monitor_coding_2"></div>
    <div class=" item zone"><img src="img/monitor_settings_2.png" alt="monitor_settings_2"></div>
    <div class=" item zone"><img src="img/server_2_2.png" alt="server_2_2"></div>
    <div class=" item zone"><img src="img/server_3.png" alt="server_3"></div>
    <div class=" item zone"><img src="img/server_safe_2.png" alt="server_safe_2"></div>
    <div class=" item zone"><img src="img/undraw.png" alt="undraw"></div>
  </div>
  <footer class="yellow">Made with love by <span><a href="https://github.com/kmrakash">AKASH KUMAR</a></span></footer>
</body>
</html>